<script>
	import VideoDetail from './VideoDetail.svelte'
	import VideoList from './VideoList.svelte'

	let current

	const handleCurrent = (change) => {
		current = change	}
</script>

{#if !current}
	<VideoList onclick={handleCurrent} />
{:else}
	<VideoDetail {current} onclick={handleCurrent} />
{/if}
