<script>
	import { onMount } from 'svelte'
	import data from './../data'
	import VideoThumbnail from './VideoThumbnail.svelte'

	export let onclick
	let videos = []

	onMount(async () => {
		setTimeout(() => {
			videos = data
		}, 300)
	})
</script>

<div class="container">
	<header>
		<h1>Recommandations</h1>
	</header>
	<div class="videoList {videos.length == 0 ? 'is-loading' : ''}">
		{#each videos as video}
			<VideoThumbnail {video} {onclick} />
		{/each}
	</div>
</div>
