<script>
	import data from './../data'

	export let current
	export let onclick

	let video = data.find((v) => v.id == current)
	let videoHTML
</script>

<div class="videoDetail">
	<button class="backButton" on:click={() => onclick('')}> &lt; Retour </button>
	{#if video}
		<!-- content here -->
		<!-- svelte-ignore a11y-media-has-caption -->
		<video
			style="width:100%; background-color:black"
			height="300"
			controls
			src="./uploads/{video.file}"
			bind:this={videoHTML}
		/>
		<button on:click={() => videoHTML.play()}>play</button>
		<button on:click={() => videoHTML.pause()}>pause</button>
		<header>
			<h1>{video.title}</h1>
			<div class="likesContainer">
				<button class="like" on:click={() => video.likes++}>
					{video.likes}
				</button>
				<button class="dislike" on:click={() => video.dislikes++}>
					{video.dislikes}
				</button>
			</div>
		</header>
		<p>{video.description}</p>
	{/if}
</div>
