<script>
	export let video
	export let onclick
</script>

<!-- svelte-ignore a11y-missing-attribute -->
<a on:click={() => onclick(video.id)}>
	<img src="https://source.unsplash.com/{video.thumbnail}/600x340" alt="" />
	<section class="infos">
		<h4>{video.title}</h4>
		<p>{video.description}</p>
	</section>
</a>
